// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p, h1, h2 {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#me {
  border-left: 5px solid #DDDDDD;
  padding: 20px 20px;
  margin: 20px 10px;
  .question{
    padding-bottom: 20px;
  }
}

#coach {
  background-color: #FFFDE1;
  border-left: 5px solid #DDDDDD;
  padding: 20px 20px;
  margin: 20px 10px 60px 10px;
  .answer {
    padding-bottom: 20px;
    font-weight: bold;
  }
}

a {
  text-decoration: none;
  color: #487AB7;
  margin-left: 10px;
  margin: 10px;
}

form {
  margin: 20px 10px;
  widows: 300px;
  display: flex;
}

.ask{
  margin: 20px 10px;
}

h1 {
  margin-left: 10px;
}

#box{
  border: 1px solid lightgrey;
  border-radius: 5px 0 0 5px;
  padding: 15px 0;
  margin-right: 0;
  box-shadow: 2 0 0 lightgrey;
  flex: 1 1 auto;
}

#btn{
 border-radius: 0 5px 5px 0;
 background-color: #337AB7;
 padding: 15px 20px;
 margin-left: 0px;
 box-shadow: 2 0 0 lightgrey;
 color: white;
 font-weight: bold;
}
